:root {
  --font-archivo: 'Archivo', sans-serif;
	--font-montserrat: 'Montserrat', sans-serif;

  // Colors
  --primary-50: #f1f6ff;
	--primary-100: #e5ecff;
	--primary-200: #ceddff;
	--primary-200-op-50:#ccdbff80;
	--primary-200-op-40: #ccdbff66;
	--primary-200-op-20: #ccdbff33;
	--primary-300: #a7beff;
	--primary-400: #7694ff;
	--primary-500: #3f5fff;
	--primary-500-op-10: #3d5eff1a;
	--primary-600: #1831ff;
	--primary-700: #0722fa;
	--primary-800: #051cd2;
	--primary-900: #0618ac;
	--primary-950: #001278;

	--neutral-50: #f5f5f6;
	--neutral-100: #e5e6e8;
	--neutral-200: #cecfd3;
	--neutral-300: #acaeb4;
	--neutral-400: #83858d;
	--neutral-500: #61636b;
	--neutral-600: #595b61;
	--neutral-700: #4c4d52;
	--neutral-700-op-70: #1d1e20b3;
	--neutral-800: #434347;
	--neutral-900: #3b3b3e;
	--neutral-950: #242428;
	--neutral-950-op-80: #242428cc;

	--accent: #ff8e24;

	--bg-transparent-90: #ccdbffe6;

	--black: #1a1a1a;
	--black-op-10: #1a1a1a1a;
	--white: #f2f2f2;
	--white-op-10: #f2f2f21a;
	--white-op-80: #f2f2f2cc;

	--primary: var(--primary-500);
	--secondary: var(--secondary-950);

}

/* Variables de color si el tema es nulo o light */
html {
  --background-body: var(--white-op-80);
	--color-body: var(--black);
	--color-icon-default: var(--black);
	--button-outlined: var(--black-op-10);
	--special-text-home: var(--neutral-500);
	--sub-special-text-home: var(--neutral-600);

	--bg-transparent: var(--primary-200-op-50);
	
	// Bubbles
	--bubble-red: #FF5722;
	--bubble-blue: #2196f3;
	--bubble-green: #4CAF50;

	// Chips
	--chip-primary-background: var(--primary-200-op-50);
	--chip-primary-color: var(--primary-500);

}

/* Variables de color si el tema es dark */
html[data-theme="dark"] {
	--background-body: var(--neutral-950-op-80);
	--color-body: var(--white);
	--color-icon-default: var(--white);
	--button-outlined: var(--white-op-10);
	--special-text-home: var(--neutral-400);
	--sub-special-text-home: var(--neutral-300);
	
	--bg-transparent: var(--primary-500-op-10);
	
	// Bubbles
	--bubble-red: #b33109;
	--bubble-blue: #0b3150;
	--bubble-green: #266e28;

	// Chips
	--chip-primary-background: var(--primary-200-op-20);
	--chip-primary-color: var(--primary-300);

	background: var(--black);
}