html, body {
  font-family: var(--font-archivo);
  overflow-x: hidden;

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #1a1a1a61;
      border-radius: 4px;
      transition: .3s;

      &:hover {
        background-color: #1a1a1acc;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    z-index: 1;
  }
}

.body-div {
  min-height: 100vh;
}

footer {
  background-color: var(--lt-color-gray-800);
  color: var(--lt-color-gray-600);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    transition: .3s;

    &:hover {
      color: var(--white);
    }
  }
}