.c-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--black-op-10);
  border-radius: 0.5rem;
  transition: .3s;
  
  &.c-button {
    &--with-icon {
      padding: 0.4rem 0.8rem;
      
      &.both {
        padding: 0.4rem 0.4rem 0.4rem 0.8rem;
      }
    }

    &--only-icon {
      padding: 0.4rem 0.6rem;
    }

    .icon-svg {
      height: 24px;
    }
  }

  &:hover {
    background: var(--white-op-10);
    box-shadow: 0 1px 8px -3px #1a1a1a33;
  }
}