main {
  background: var(--white-op-80);
  backdrop-filter: blur(100px);

  min-height: 500vh;
}

.hero {
  min-height: 100vh;
  display: flex;
  place-content: center;
  flex-wrap: wrap;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 3rem;
    gap: 3rem;

    .info {
      &__title {
        font-size: 2.3rem;
        margin-bottom: 0.5rem;
        font-weight: 500;

        .name {
          font-size: 1.5rem;
        }

        .range {
          font-weight: 400;
          color: var(--neutral-500);
          font-size: 3rem;

          .ui {
            font-weight: 700;
            color: var(--accent);
            display: inline-block;
            transition: .5s;
          }

          &:hover {
            .ui {
              transform: translateY(-10px);
            }
          }
        }
      }

      &__description {
        color: var(--lt-color-gray-600);
        font-weight: 400;
      }
    }
  }

  &__img {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      
    }

    &::before {
      width: 100%;
      height: 20px;
      background: hsl(0deg 0% 10% / 80%);
      bottom: -70px;
      filter: blur(30px);
    }

    &::after {
      width: 80%;
      height: 6px;
      background: hsl(0deg 0% 20% / 70%);
      bottom: -65px;
      filter: blur(7px);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  img {
    max-width: 100%;
    max-height: 60vh;
    border-radius: 2rem;
  }
}

.bubble {
  width: 33vw;
  height: 33vw;
  position: absolute;
  border-radius: 50%;
  top: 0;
  z-index: -1;
  transition: 3s;
  
  &.red {
    background: #FF5722;
    top: 12%;
    left: 10%;
  }

  &.blue {
    background: #2196f3;
    top: 10%;
    left: 55%;
  }

  &.green {
    background: #4CAF50;
    left: 66%;
    top: 50%;
  }
}

.step-1 {
  .bubble {
    &.red {
      top: calc(100vh + 12%);
      left: 55%;
    }
  
    &.blue {
      top: calc(100vh + 10%);
      left: 5%;
    }
  
    &.green {
      top: calc(100vh + 15%);
      left: 70%;
    }
  }
}