main {
  background: var(--white-op-80);
  backdrop-filter: blur(40px);
  
  @media (min-width: 768px) {
    backdrop-filter: blur(100px);
  }
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 0;
  
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 100%;
    max-width: 1200px;
    padding: 0 1.5rem;
    gap: 4rem;
    
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 3rem;
      padding: 0 3rem;
    }

    .info {
      &__title {
        font-size: 2.3rem;
        margin-bottom: 0.5rem;
        font-weight: 500;

        .name {
          font-size: 1.2rem;

          @media (min-width: 768px) {
            font-size: 1.5rem;
          }
          
        }

        .range {
          font-weight: 400;
          color: var(--neutral-500);
          font-size: 2rem;
          
          @media (min-width: 768px) {
            font-size: 3rem;
          }

          .ui {
            font-weight: 700;
            color: var(--accent);
            display: inline-block;
            transition: .5s;
          }

          &:hover {
            .ui {
              transform: translateY(-10px);
            }
          }
        }
      }

      &__description {
        color: var(--lt-color-gray-600);
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 1rem;

        @media (min-width: 768px) {
          font-size: 1.2rem;
        }
      }

      &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .networks {
          display: flex;
          gap: .5rem;
          .icon-svg {
            height: 24px;
          }
        }
      }
    }
  }

  &__img {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      
    }

    &::before {
      width: 100%;
      height: 20px;
      background: hsl(0deg 0% 10% / 80%);
      bottom: -70px;
      filter: blur(30px);
    }

    &::after {
      width: 80%;
      height: 6px;
      background: hsl(0deg 0% 20% / 70%);
      bottom: -35px;
      filter: blur(7px);
      left: 50%;
      transform: translateX(-50%);
      
      
      @media (min-width: 768px) {
        bottom: -65px;
      }
    }
  }

  img {
    max-width: 100%;
    max-height: 50vh;
    border-radius: 2rem;

    @media (min-width: 768px) {
      max-height: 60vh;
    }
  }
}

.bubble {
  width: 53vw;
  height: 53vw;
  position: fixed;
  border-radius: 50%;
  top: 0;
  z-index: -1;
  transition: 3s;

  @media (min-width: 768px) {
    width: 33vw;
    height: 33vw;
  }
  
  &.red {
    background: #FF5722;
    top: 12%;
    left: 10%;
  }

  &.blue {
    background: #2196f3;
    top: 10%;
    left: 55%;
  }

  &.green {
    background: #4CAF50;
    left: 66%;
    top: 50%;
  }
}

.step-1 {
  .bubble {
    &.red {
      top: 12%;
      left: 55%;
    }
  
    &.blue {
      top: 10%;
      left: 5%;
    }
  
    &.green {
      top: 15%;
      left: 70%;
    }
  }
}